.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.piggy-img {
  width: 150px;
  height: fit-content;
}

.text-principal {
  color: #9b9b9b;
  font-weight: bolder;
}
.line {
  border-bottom: 3px solid #92f483;
  width: 100%;
  height: 10px;
  margin-bottom: 40px;
}

.title {
  font-weight: bolder;
  color: #195d53;
  font-size: 1.3rem;
}
