<div class="d-flex justify-content-center align-items-center vh-100 bg">
  <div
    class="card text-center p-4 shadow"
    style="width: 20rem; border-radius: 10px"
  >
    <img
      src="../../../assets/img/coink_regalo.png"
      alt="Bienvenido"
      class="card-img-top mx-auto"
      style="width: 50%"
    />
    <div class="card-body">
      <h5 class="card-title text-success font-weight-bold">
        ¡Bienvenido a Coink!
      </h5>
      <p class="card-text">
        ¡Cuenta creada exitosamente, tu marrano ya está listo para que empieces
        a ahorrar!
      </p>
      <button class="btn btn-success btn-block">CONTINUAR</button>
    </div>
  </div>
</div>
