body,
html {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.piggy-img {
  width: 150px;
  height: auto;
}

.phone-input {
  width: 50%;
  font-size: 1.5rem;
  border: 5px;
  box-shadow: none;
  background-color: #fafafa !important;
  -webkit-box-shadow: 0px 2px 5px 4px rgba(240, 235, 240, 1);
  -moz-box-shadow: 0px 2px 5px 4px rgba(240, 235, 240, 1);
  box-shadow: 0px 2px 5px 4px rgba(240, 235, 240, 1);
}

.phone-input::placeholder {
  color: #e2e2e2;
  font-size: 1.8rem;
  font-weight: bolder;
}

.num-pad {
  width: 100%;
}

.num-pad .row {
  margin-bottom: 10px;
}

.num-pad button {
  font-size: 1.8rem;
  height: 60px;
  color: #195d53;
  font-weight: bolder;
}

.num-pad .btn-block {
  width: 100%;
}

.fa-backspace,
.fa-check {
  font-size: 1.5rem;
}
.center-vertical {
  display: flex;
  align-items: center;
}
.text-principal {
  color: #9b9b9b;
  font-weight: bolder;
}
.line {
  border-bottom: 3px solid #92f483;
  width: 100%;
  height: 10px;
  margin-bottom: 40px;
}
